@import bourbon

*, *::before, *::after
  +box-sizing(border-box)

a:link
  text-decoration: none
  color: #ce5a4e
a:hover
  text-decoration: underline
a:visited
  color: darken(#ce5a4e, 10%)

::-webkit-scrollbar
  width: 0px

$body-width: 900px
$num-manifestos: 4
$minimap-width: 10px

html, body
  height: 100%
  width: 100%
  margin: 0
  padding: 0

$header-height: 100px

@include keyframes(hideDown)
  0%
    @include transform(translateY(0))
  95%
    @include transform(translateY(0))
  100%
    @include transform(translateY($header-height*.8))

header
  +animation(hideDown 10s ease-in)
  +transform(translateY($header-height*.8))
  +transition(all .2s ease-in)
  &:hover
    +transform(translateY(0))
  z-index: 100
  background: rgba(255,255,255,.9)
  position: fixed
  height: $header-height
  margin: auto
  bottom: 0
  border-top: 1px solid black
  display: table
  width: 100%
  .cell
    display: table-cell
    text-align: center
    vertical-align: middle
    padding: 0 5px
  h1
    font-size: 1.2em
    white-space: nowrap
    padding-left: 15px !important
  .manual, .description, .tech
    font-size: .8em

#container
  height: 100%
  width: 100%

.sub-container
  height: 100%
  width: 100%/$num-manifestos
  float: left
  overflow-y: scroll
  overflow-x: hidden
  padding: 0 0 0 1%
  margin-bottom: $header-height
  ul
    padding-left: 1.5em
  ul, p, h1, h2, h3, h4
    width: 90%
    margin-left: auto
    margin-right: auto

.doc
  cursor: pointer
  padding: 1px 0 // prevent white borders between docs

#gruene
  border-top: 10px solid green
#cdu
  border-top: 10px solid black
#spd
  border-top: 10px solid red
#piraten
  border-top: 10px solid rgb(243,143,49)

.minimap
  position: fixed
  height: 100%
  width: 1%
  background: lighten(yellow, 40%)
  margin-top: 10px
  a
    display: block
    &:hover
      background: yellow

#spd-minimap
  left: 0
#cdu-minimap
  left: 100%/$num-manifestos
#gruene-minimap
  left: 100%/$num-manifestos*2
#piraten-minimap
  left: 100%/$num-manifestos*3

// Typography
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700)

body
  font-family: "Open Sans", sans-serif
  font-size: 100%
  @media (max-width: 900px)
    font-size: 80%

h1
  font-size: 1.5em
  &.party-name
    font-size: 2em

h2
  font-size: 1.2em

h3, h4
  font-size: 1em

.sub-container
  h1, h2, h3, h4
    text-align: center
  p
    text-align: left
