@import bourbon

*, *::before, *::after
  +box-sizing(border-box)

$body-width: 900px
$numManifestos: 3

html, body
  height: 100%
  width: 100%
  margin: 0
  padding: 0

$header-height: 80px

@include keyframes(hideDown)
  0%
    @include transform(translateY(0))
  95%
    @include transform(translateY(0))
  100%
    @include transform(translateY($header-height*.8))

header
  +animation(hideDown 10s ease-in)
  +transform(translateY($header-height*.8))
  +transition(all .2s ease-in)
  &:hover
    +transform(translateY(0))
  z-index: 100
  background: rgba(255,255,255,.9)
  position: fixed
  height: $header-height
  margin: auto
  bottom: 0
  border-top: 1px solid black
  display: table
  width: 100%
  h1, .manual, .description, #logo
    display: table-cell
    text-align: center
    vertical-align: middle
    padding: 0 5px
  h1
    font-size: 1.2em
    white-space: nowrap
    padding-left: 10px
  .manual, .description
    font-size: .8em
  
#container
  height: 100%
  width: 100%

.sub-container
  height: 100%
  width: 100%/$numManifestos
  float: left
  overflow: scroll
  padding: 10px 10px 10px 15px
  padding-bottom: $header-height

.doc
  cursor: pointer

#gruene
  border-top: 10px solid green
#cdu
  border-top: 10px solid black
#spd
  border-top: 10px solid red

.minimap
  position: fixed
  height: 100%
  width: 10px
  background: lighten(yellow, 40%)
  margin-top: 10px
  a
    display: block

#spd-minimap
  left: 0
#cdu-minimap
  left: 33.333%
#gruene-minimap
  left: 66.666%
