@import bourbon
@import tipsy

*, *::before, *::after
  +box-sizing(border-box)

a:link
  text-decoration: none
  color: #ce5a4e
a:hover
  text-decoration: underline
a:visited
  color: darken(#ce5a4e, 10%)

::-webkit-scrollbar
  width: 0px

$body-width: 900px
$num-manifestos: 4
$minimap-width: 1%
$top-border: 10px

html, body
  height: 100%
  width: 100%
  margin: 0
  padding: 0

$ball-size: 40px

=helpBall
  width: $ball-size
  height: $ball-size
  top: 5%
  right: 5%
  overflow: hidden
  border-radius: $ball-size/2
  border: 1px solid black

=helpPane
  width: 90%
  height: 90%
  top: 5%
  right: 5%
  overflow: scroll
  border-radius: $ball-size/2
  border: 1px solid black

+keyframes(helpPaneToBall)
  0%
    +helpPane
  95%
    +helpPane
  100%
    +helpBall

+keyframes(disappear)
  0%
    opacity: 1
  95%
    opacity: 1
  100%
    opacity: 0

+keyframes(appear)
  0%
    opacity: 0
  98%
    opacity: 0
  100%
    opacity: 1

header
  +animation(helpPaneToBall 10s ease-in-out)
  +transition(all .2s ease-in-out)
  z-index: 100
  background: rgba(255,255,255,.9)
  position: fixed
  +helpBall
  .inner-header
    +animation(disappear 10s ease-in-out)
    +transition(all .2s ease-in-out)
    opacity: 0
  &::before
    +transition(all .2s ease-in-out)
    +animation(appear 10s ease-in-out)
    content: '?'
    position: absolute
    right: 0
    width: $ball-size
    font-size: $ball-size - 10px
    text-align: center
    opacity: 1
  &:hover
    +helpPane
    .inner-header
      opacity: 1
    &::before
      opacity: 0
  .cell
    text-align: center
    vertical-align: middle
    padding: 0 5px
  h1
    font-size: 1.2em
    white-space: nowrap
    padding-left: 15px !important
  .manual, .description, .tech
    font-size: .8em

#container
  height: 100%
  width: 100%

.sub-container
  height: 100%
  width: 100%/$num-manifestos
  float: left
  overflow-y: scroll
  overflow-x: hidden
  padding: 0 0 0 1%
  ul
    padding-left: 1.5em
  ul, p, h1, h2, h3, h4
    width: 90%
    margin-left: auto
    margin-right: auto

.doc
  cursor: pointer
  padding: 1px 0 // prevent white borders between docs

#gruene
  border-top: $top-border solid green
#cdu
  border-top: $top-border solid black
#spd
  border-top: $top-border solid red
#piraten
  border-top: $top-border solid rgb(243,143,49)

.minimap
  position: fixed
  height: 100%
  width: $minimap-width
  background: lighten(yellow, 40%)
  margin-top: $top-border
  a
    display: block
    &:hover
      background: yellow
    z-index: 2
  .scroll-indicator
    width: 1%
    margin-top: $top-border
    background: rgba(0,0,0,.6)
    position: fixed
    pointer-events: none

#spd-minimap
  left: 0
  & .scroll-indicator
    left: 0
#cdu-minimap
  left: 100%/$num-manifestos
  & .scroll-indicator
    left: 100%/$num-manifestos
#gruene-minimap
  left: 100%/$num-manifestos*2
  & .scroll-indicator
    left: 100%/$num-manifestos*2
#piraten-minimap
  left: 100%/$num-manifestos*3
  & .scroll-indicator
    left: 100%/$num-manifestos*3

.outlier
  background-color: rgba(#54ABFF, .15)
  .selected &
    background-color: inherit

// Typography
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700)

body
  font-family: "Open Sans", sans-serif
  font-size: 100%
  @media (max-width: 900px)
    font-size: 80%

h1
  font-size: 1.5em
  &.party-name
    font-size: 2em

h2
  font-size: 1.2em

h3, h4
  font-size: 1em

.sub-container
  h1, h2, h3, h4
    text-align: center
  p
    text-align: left
