/* line 3, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
a:link {
  text-decoration: none;
  color: #ce5a4e; }

/* line 9, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
a:hover {
  text-decoration: underline; }

/* line 11, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
a:visited {
  color: #b63f33; }

/* line 17, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

@-webkit-keyframes hideDown {
  /* line 26, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  0% {
    -webkit-transform: translateY(0); }

  /* line 28, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  95% {
    -webkit-transform: translateY(0); }

  /* line 30, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  100% {
    -webkit-transform: translateY(80px); } }

@-moz-keyframes hideDown {
  /* line 26, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  0% {
    -moz-transform: translateY(0); }

  /* line 28, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  95% {
    -moz-transform: translateY(0); }

  /* line 30, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  100% {
    -moz-transform: translateY(80px); } }

@-o-keyframes hideDown {
  /* line 26, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  0% {
    -o-transform: translateY(0); }

  /* line 28, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  95% {
    -o-transform: translateY(0); }

  /* line 30, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  100% {
    -o-transform: translateY(80px); } }

@keyframes hideDown {
  /* line 26, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  0% {
    transform: translateY(0); }

  /* line 28, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  95% {
    transform: translateY(0); }

  /* line 30, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  100% {
    transform: translateY(80px); } }

/* line 33, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
header {
  -webkit-animation: hideDown 10s ease-in;
  -moz-animation: hideDown 10s ease-in;
  animation: hideDown 10s ease-in;
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -o-transform: translateY(80px);
  transform: translateY(80px);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  height: 100px;
  margin: auto;
  bottom: 0;
  border-top: 1px solid black;
  display: table;
  width: 100%; }
  /* line 37, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  header:hover {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  /* line 48, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  header .cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 5px; }
  /* line 53, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  header h1 {
    font-size: 1.2em;
    white-space: nowrap;
    padding-left: 15px !important; }
  /* line 57, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  header .manual, header .description, header .tech {
    font-size: 0.8em; }

/* line 60, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
#container {
  height: 100%;
  width: 100%; }

/* line 64, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
.sub-container {
  height: 100%;
  width: 25%;
  float: left;
  overflow: scroll;
  padding: 10px 10px 10px 15px;
  padding-bottom: 100px; }

/* line 72, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
.doc {
  cursor: pointer; }

/* line 75, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
#gruene {
  border-top: 10px solid green; }

/* line 77, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
#cdu {
  border-top: 10px solid black; }

/* line 79, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
#spd {
  border-top: 10px solid red; }

/* line 81, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
#piraten {
  border-top: 10px solid #f38f31; }

/* line 84, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
.minimap {
  position: fixed;
  height: 100%;
  width: 10px;
  background: #ffffcc;
  margin-top: 10px; }
  /* line 90, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
  .minimap a {
    display: block; }
    /* line 92, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
    .minimap a:hover {
      background: yellow; }

/* line 95, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
#spd-minimap {
  left: 0; }

/* line 97, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
#cdu-minimap {
  left: 25%; }

/* line 99, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
#gruene-minimap {
  left: 50%; }

/* line 101, /Users/danielkirsch/code/document-matrix/source/stylesheets/all.css.sass */
#piraten-minimap {
  left: 75%; }
